*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    width: 75%;
    height: 400px;
    border: 3px solid red;
    margin-top: 30px;
}

.top-section{
    background-color: #FF6257;
    height: 35%;
}


.bottom-section{
    background-color: aquamarine;
    height: 65%;
}