*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    justify-content: center;
    font-family: Roboto;
}

svg{
    margin-top: 100px;
    padding-left: 15px;
}

.container{
    width: 75%;
    height: 560px;
    margin-top: 30px;
    box-shadow: 3px 3px 32px 5px rgba(0,0,0,0.52);
}

.top-section{
    /* height: 40px; */
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
} 

.top-section svg{
    width: 400px;
    height: 100%;
}

.bottom-section{
    height: 65%;
    padding: 20px;
}

.bottom-section ul{
    list-style: none;
}

.bottom-section h2, p, ul{
    padding-bottom: 9px;
}

.form{
    font-weight: 700;
    padding-top: 190px;
}

#email{
    border: 1px solid grey;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
}

#submit{
    border: 1px solid grey;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    background-color: #36384E;
    color: white;
}

@media (min-width: 576px)  {
    .container{
        width: 69%;
        height: 350px;
        box-shadow: 3px 3px 32px 5px rgba(0,0,0,0.52);
        border-radius: 15px;
        display: flex;
    }

    .bottom-section h2{
        padding-top: 70px;
    }

    #submit{
        border: 1px solid grey;
        width: 90%;
        height: 40px;
        border-radius: 5px;
        margin: 10px;
        background-color: #36384E;
        color: white;
    }

    .form{
        font-weight: 700;
        padding-top: 10px;
    }

    svg{
        margin-top: 25px;
        display: flex;
    }
}   