*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: bold;
}

.container{
    width: 60%;
    margin: 40px auto;
    height: 690px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, .35);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top{
    display: center;
    height: 30%;
    background-image: url(images/bg-main-mobile.png);
    background-size: cover;
}

.back-card{
    display: flex;
    justify-content: end;
}

.back-card img{
    margin: 20px;
    width: 80%;
}

.bottom{
    height: 70%;
}

.front-card img{
    width: 80%;
    margin-top: -100px;
    margin-left: 10px;
}

.form{
    text-transform: uppercase;
    padding: 20px;
    padding-top: 30px;
}

.form input{
    width: 95%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 30px;
}

.form p{
    padding-bottom: 20px;
}

.cvc{
    display: flex;
    gap: 20px;
}

button{
    width: 98%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgba(31, 1, 31, 0.925);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button:hover{
    background-color: rgb(61, 31, 168);
    width: 300px;
}