*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

#container{
    width: 45%;
    margin: 20px auto;
    height: 150px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, .35);
    background-color: rgb(245, 232, 232);
}

#top{
    height: 10%;
}

.top-1{
    height: 20%;
    background-color: rgb(58, 55, 55);
}

#bottom{
    margin-top: 20px;
    background-color: rgb(197, 191, 191);
    height: 18%;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

#bottom p{
    display: flex;
    justify-content: end;
    color: white;
    padding-right: 10px;
    padding-top: 5px;
}

#container-2{
    background-image: linear-gradient(to right, rgb(179, 42, 179),rgb(59, 59, 223),pink,rgb(233, 32, 233));
    width: 45%;
    margin: 20px auto;
    height: 150px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, .35);
}

.begin{
    border: 2px solid black;
    height: 25%;
}

.middle{
    border: 2px solid blue;
    height: 25%;
    margin-top: 25px;
}

.last{
    border: 2px solid red;
    height: 25%;
}