*{
    margin: 0;
    padding: 0;
}
.container{
    width: 60%;
    margin: 10px auto;
    color: white;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    background-image: url(/src/images/desktop/image-header.jpg);
    height: 400px;
    background-size: cover;
}

.brand-name{
    padding: 20px;
    cursor: pointer;
}

.navbar-link{
    padding: 25px;
}

.navbar-link ul{
    list-style: none;
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.navbar-link ul li{
    transition: 0.3s ease-out;
}

.navbar-link ul li:hover{
    background-color: white;
    opacity: .5;
    color: black;
    padding: 10px;
    border-radius: 10px;
}