*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.main-text{
    color: white;
    background-color: rgb(66, 193, 243);
    height: 50vh;
}

.main-text h2{
    padding-left: 250px;
    font-size: 4rem;
}