*{
    margin: 0;
    padding: 0;
}

.container{
    border: 3px solid black;
    width: 80%;
    height: 700px;
    margin: 70px auto;
    background-color: #C2E2FA;
}

.top-section, .bottom-section{
    width: 100%;
}

.top-section{
    height: 25%;
    background-color: aqua;
}

.form{
    background-color: white;
    margin: -20% auto;
    width: 95%;
    height: 70%;
    border-radius: 10px;
}

.bottom-section{
    height: 75%;
}


h3{
    text-align: center;
    color: #02295A;
}