*{
    margin: 0;
    padding: 0;
}

.container{
    border: 3px solid black;
    width: 80%;
    height: 700px;
    margin: 70px auto;
    background-color: #e8eef3;
    border-radius: 10px;
    font-family: 'Roboto';
}

.container form{
    position: absolute;
    width: 222px;
}

.top-section, .bottom-section{
    width: 100%;
}

.top-section{
    height: 25%;
    background-image: linear-gradient(90deg, #4dadad 0%, #3c3ccf 35%, #8e4dda 100%);
}

.form{
    background-color: white;
    margin: -20% auto;
    width: 95%;
    height: 65%;
    border-radius: 10px;
    display: flex;
}

.bottom-section{
    position: relative;
    height: 75%;
    color: #02295A;
    font-weight: 700;
}


h3{
    color: #02295A;
    padding: 20px 20px;
    font-size: 1.8rem;
}

p{
    padding-left: 20px;
    opacity: 0.4;
    padding-bottom: 20px;
}

.form label{
    padding-left: 20px;
}

.form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

form{
    padding-top: 20px;
}


#button{
  position: absolute;
  bottom: -50px;
  right: 10px;
  width: 100px;
  height: 40px;
}

.bottom-section button{
    color: white;
    background-color: #02295A;
    border-radius: 10px;
}

.button{
    background-color: white;
}