*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

.container{
    border: 2px solid black;
    width: 100%;
    height: 1000px;
}

nav{
    height: 80px;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 60px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.checkbtn{
    color: black;
    font-size: 40px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    line-height: 80px;
    display: none;
}

#check{
    display: none;
}

.top-section{
    border: 2px solid aqua;
    height: 70%;
    display: flex;
}

.left-section{
    width: 70%;
}

.right-section{
    width: 30%;
    background-color: #000019;
    color: white;
    margin: 0 20px;
    border: 4px;
}

.image{
    height: 55%;
    background-image: url(assets/images/image-web-3-desktop.jpg);
    background-size: cover;
}

.text{
    height: 45%;
    display: flex;
}

.left-section-text{
    width: 40%;
    font-size: 1.8rem;
    margin: 30px auto;
}

.right-section-text{
    width: 60%;
    margin: 30px;
    font-size: 1.5rem;
    opacity: 0.5;
    padding-left: 30px;
}

.right-section-text button{
    margin: 50px 0;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    background: #F15E50;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.right-section h1{
    color: #E9AB53;
    padding: 20px;
}

.article{
    padding: 20px;
}

.article p{
    opacity: 0.6;
    font-size: 1.2rem;
    padding-top: 5px;
}

.bottom-section{
    border: 2px solid orange;
    height: 22%;
    display: flex;
    justify-content: space-between;
}

.product{
    border: 2px solid purple;
    width: 30%;
    display: flex;
}

.product img{
    height: 80%;
    padding: 0 10px;
    padding-top: 10px;
}

.product-text{
    padding-left: 20px;
}

.product-text h1{
    padding-top: 5px;
    color: #C5C6CE;
}

.product-text h3{
    padding-top: 10px;
}

.product-text p{
    padding-top: 30px;
}

@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        /* putting a block display so that all the list items will come down to the next line */
        display: block;
    }

    .container ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .4s;
    }

    nav ul li{
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

